.btnofsection {
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 16px 10px;
    border-radius: 16px;
    margin-bottom: 15px;
    background-image: linear-gradient(to left, #29166F 29%, #00A539 100%);
    cursor: pointer;
}

.btn-text{
    color: #fff;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
}
