.App-footer {
  background-image: url("../images/backgroundimagefooter.png");
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Resetting default list styles */
.App-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.App-footer ul li a {
  color: white;
  text-decoration: none;
}

.App-footer ul li a:hover {
  text-decoration: underline;
}

/* Container for footer sections */
.footer-uls {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 8%;
}

/* Logo styling */
.App-logo1 {
  height: 150px;
  width: 218px;
}

/* Style for each section of the footer */
.footer-ul1 {
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

/* Links within each footer section */
.footer-links {
  padding: 6px;
  text-decoration: none;
  font-weight: 500;
  justify-content: start;
  text-align: left;
  font-size: 12px;
  font-family: 'Poppins';
  display: flow-root;
}

/* Style for icons */
.RectangleFooter {
  height: 7%;
  width: 7%;
  margin-right: 10px;
}
.footerheadlinks{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Playfair Display';
  margin-bottom: 14px;
}
.EmailTopImginftr{
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  align-items: center;
}

/* Responsive styles for tablet and mobile screens */
@media (max-width: 1024px) {
  .footer-uls {
      flex-direction: column;
      gap: 50px;
  }

  .footer-ul1 {
      text-align: center;
  }
  .hide-on-sm {
    display: none;
  }
  .App-logo1 {
      height: 120px;
      width: 170px;
  }
}

@media (max-width: 768px) {
  .App-footer {
    background-image: url("../images/backgroundimagefooter.png");
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
  }
  .footer-uls {
      flex-direction: column;
      gap: 30px;
      margin-top: 4%;
  }

  /* .App-footer {
      padding: 20px 10px;
  } */

  .App-logo1 {
      height: 100px;
      width: 150px;
  }
  
  .footer-links {
      padding: 4px;
  }
  .hide-on-sm {
    display: none;
  }
}

@media (max-width: 480px) {
  .App-footer {
    background-image: url("../images/backgroundimagefooter.png");
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
  }
  .hide-on-sm {
    display: none;
  }
  .footer-uls {
      flex-direction: column;
      gap: 20px;
      margin-top: 3%;
  }

  .App-logo1 {
      height: 80px;
      width: 120px;
  }

  .RectangleFooter {
      height: 10%;
      width: 10%;
  }
}
