.navbar-container {
    background-image: url('../images/firstSecTopBg.jpg');
    background-size: cover;
    color: black;
    position: relative;
    background-size: center;
    min-height: 1089.625px;
    background-repeat: no-repeat;

}
.headerofsmallscreennavlinks{
display: none;
}

@media screen and (max-width: 1208px) {
    .navbar-container {
        background-image: url('../images/Section1Mob.jpg');
        background-size: cover;
        color: black;
        position: relative;
        background-position: center;
        min-height: 890.625px;
        background-repeat: no-repeat;
    
    }
}

.navbar{
    background-size: cover;
    position: relative;
}
.icon2{
    position: absolute; 
right: 0%;
top: 19%;
}
.menu-iconsmallscreen{
    display: none;
}

@media screen and (max-width: 1208px) {
    .icon2{
        position: absolute; 
    right: 0%;
    display: none;
    top: 19%;
    }
}
@media screen and (max-width: 1051px) {
    .headerofsmallscreennavlinks{
        display: block;
        align-self: flex-start;
        }
        .nav-link-topsmallscreen{
            color: #170C40;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 8.44px;
            top: 17.68px;
            font-style: normal;
            font-weight: 700;
            line-height: 11.81px;
            position: absolute;
            left: 182.41px;
        }
        .nav-link-topsmallscreen2{
            color: #170C40;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 8.44px;
            top: 18.02px;
            font-style: normal;
            font-weight: 700;
            line-height: 11.81px;
            position: absolute;
            left: 306.56px;
        }
        .emailnavsmallscreen{
            color: #170C40;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 8.44px;
            font-style: normal;
            font-weight: 500;
            line-height: 19.65px;
            position: absolute;
        }
        .nav-link-topsmallscreen3{
            color: #170C40;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 8.44px;
            top: 53px;
            font-style: normal;
            font-weight: 700;
            line-height: 11.81px;
            position: absolute;
            left: 182.41px;
        }
        .icon-backgroundsmallscreen {
            display: inline-flex;
            /* Allows proper alignment */
            align-items: center;
            /* Centers the icon vertically */
            background: linear-gradient(90deg, #00A539, #29166F);
            /* Gradient background */
            color: white;
            /* Change icon color to white for better contrast */
            border-radius: 30px;
            /* Rounded corners */
            padding: 4px;
            /* Padding around the icon */
            margin-right: 5px;
            /* Space between icon and text */
        }
        .phonetopImgsmallscreen{
            width: 8.81px;
            height: 8.81px;
        }
        .menu-iconsmallscreen {
            display: block;
            align-self: flex-end;
        }
        .partnerlinksmallscreen {
            border: 0.73px solid #828282;
            /* Border color */
            border-radius: 6px;
            /* Border radius */
            width: 207.74px;
            height: 36.7px;
            margin-left: 80px;
            top: 53px;
            padding: 6px;
            /* Padding */
            text-decoration: none;
            /* Remove underline */
            font-family: poppins;
            color: #29166F;
            /* Text color */
            /* Required for positioning the arrow */
            display: flex;
            /* Ensure proper width */
            transition: background-color 0.3s, color 0.3s;
            /* For hover effect */
            font-weight: 700;
            font-size: 13.94px;
            align-items: center;
        
        }
        .icon-backgroundsmallscreen {
            display: inline-flex;
            /* Allows proper alignment */
            align-items: center;
            /* Centers the icon vertically */
            background: linear-gradient(90deg, #00A539, #29166F);
            /* Gradient background */
            color: white;
            /* Change icon color to white for better contrast */
            border-radius: 30px;
            /* Rounded corners */
            padding: 8px;
            /* Padding around the icon */
            margin-right: 5px;
            /* Space between icon and text */
        }
        .partnerlinktextsmallscreen{
            font-size: 10.22px;
            
        }
}