@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.about3btn{
    display: none;
}
.about3bg {
    width: 100%;
    height: 1273.625px;
    background-image: url('../images/about3bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about3h1 {
    color: #28156D;
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 55px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}

.about3h2 {
    margin-top: 30px;
    color: #000;
    text-align: center;
    font-family: "Playfair Display , arial , sans-serif";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about3p1 {
    margin-top: 30px;
    width: 1157.593px;
    height: 100px;
    color: #000;
    font-family: Mont , arial , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
}

.about3p2 {
    margin-top: 30px;
    width: 1157.593px;
    height: 100px;
    color: #000;
    font-family: "Mont" , arial , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
}

.about3head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about3body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.about3div1w {
    width: 382px;
    height: 532px;
    border-radius: 20px;
    display: block;
    background-color: #fff;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.13);
    position: relative;
}

.about3img {
    margin-top: 10px;
    width: 348.762px;
    height: 243.103px;
    border-radius: 20px;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.13);
}

.div2radio {
    width: 63.3px;
    height: 63.3px;
    background-color: #00AA14;
    display: block;
    position: absolute;
    stroke-width: 4px;
    stroke: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
    z-index: 11;
    top: 43%;
    left: 10%;
    border: 5px solid #fff;
}

.aboutbodytext {
    padding: 20px;
    text-align: start;
}

.about2h3 {
    color: #0D222F;
    font-family: Mont , arial , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 15px
}

.about3p3 {
    width: 303.206px;
    height: 135px;
    color: #000;
    font-family: Poppins , arial , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.about1icon1{
    fill: white;
    width: 30px;
    height: 30px;
}


/* Large Screens (1441px and up) */
/* Laptops/Desktops (1025px to 1440px) */
@media (min-width: 1150px) and (max-width: 1440px) {
    /* Styles for laptops and desktops */
    .about3bg {
        width: 100%;
        height: 1273.625px;
        background-image: url('../images//about3bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about3h1 {
        color: #28156D;
        text-align: center;
        font-family: "Brush Script MT";
        font-size: 50px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 10%;
    }
    
    .about3h2 {
        margin-top: 30px;
        color: #000;
        text-align: center;
        font-family: "Playfair Display , arial , sans-serif";
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .about3p1 {
        margin-top: 30px;
        width: 90%;
        height: 100px;
        color: #000;
        font-family: Mont , arial , sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 30px;
    }
    
    .about3p2 {
        margin-top: 30px;
        width: 90%;
        height: 100px;
        color: #000;
        font-family: "Mont" , arial , sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 30px;
    }
    
    .about3head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about3body {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
    }
    
    .about3div1w {
        width: 352px;
        height: 502px;
        border-radius: 20px;
        display: block;
        background-color: #fff;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
        position: relative;
    }
    
    .about3img {
        margin-top: 10px;
        width: 318.762px;
        height: 223.103px;
        border-radius: 20px;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
    }
    
    .div2radio {
        width: 60.3px;
        height: 60.3px;
        background-color: #00AA14;
        display: block;
        position: absolute;
        stroke-width: 4px;
        stroke: #FFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
        z-index: 11;
        top: 40%;
        left: 10%;
        border: 5px solid #fff;
    }
    
    .aboutbodytext {
        padding: 20px;
        text-align: start;
    }
    
    .about2h3 {
        color: #0D222F;
        font-family: Mont , arial , sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-top: 15px
    }
    
    .about3p3 {
        width: 303.206px;
        height: 135px;
        color: #000;
        font-family: Poppins , arial , sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    .about1icon1{
        fill: white;
        width: 25px;
        height: 25px;
    }
    
}

/* Small Laptops (769px to 1024px) */
@media (min-width: 851px) and (max-width: 1150px) {
    .about3bg {
        width: 100%;
        height: 100%;
        background-image: url('../images//about3bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about3h1 {
        color: #28156D;
        text-align: center;
        font-family: "Brush Script MT";
        font-size: 34px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 20%;
    }
    
    .about3h2 {
        margin-top: 30px;
        color: #000;
        text-align: center;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 214.286% */
    }
    
    .about3p1 {
        margin-top: 30px;
        width: 90%;
        height: 100px;
        color: #000;
        font-family: "Mont" , arial , sans-serif;
        font-size: 14px;
        text-align: center;
        font-style: normal;
        font-weight: 200;
        line-height: 30px;
    }
    
    .about3p2 {
        margin-top: 30px;
        width: 90%;
        height: 100px;
        color: #000;
        font-family: "Mont" , arial , sans-serif;
        font-size: 14px;
        text-align: center;
        font-style: normal;
        font-weight: 200;
        line-height: 30px;
    }
    
    .about3head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .girdcen {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px;
        padding-top: 0;
    }
    
    .about3body {
        display: grid;
        grid-template-columns: 1fr 2fr; /* or any desired column setup */
        gap: 30px;
        margin-top: 50px;
        width: 100%; /* The grid takes the full width of its container */
        max-width: 1200px; /* Optional: set a max width to control the grid size */
    }
    
    
    .about3div1w {
        width: 352px;
        height: 502px;
        border-radius: 20px;
        display: block;
        background-color: #fff;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
        position: relative;
    }
    
    .about3img {
        margin-top: 10px;
        width: 318.762px;
        height: 223.103px;
        border-radius: 20px;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
    }
    
    .div2radio {
        width: 60.3px;
        height: 60.3px;
        background-color: #00AA14;
        display: block;
        position: absolute;
        stroke-width: 4px;
        stroke: #FFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
        z-index: 11;
        top: 40%;
        left: 10%;
        border: 5px solid #fff;
    }
    
    .aboutbodytext {
        padding: 20px;
        text-align: start;
    }
    
    .about2h3 {
        color: #0D222F;
        font-family: Mont , arial , sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-top: 15px
    }
    
    .about3p3 {
        width: 303.206px;
        height: 135px;
        color: #000;
        font-family: Poppins , arial , sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    .about1icon1{
        fill: white;
        width: 25px;
        height: 25px;
    }
    .about3btn{
        display: none;
    }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 850px) {
    .about3bg {
        width: 100%;
        height: 1500px;

        background-image: url('../images/about3bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about3h1 {
        color: #28156D;
        text-align: center;
        font-family: "Brush Script MT";
        font-size: 35px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 20%;
    }
    
    .about3h2 {
        margin-top: 30px;
        color: #000;
        text-align: center;
        font-family: "Playfair Display , arial , sans-serif";
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .about3p1 {
        width: 80%;
        margin-top: 50px;
        color: #000;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 20px;
    }
    
    .about3p2 {
        width: 80%;
        margin-top: 50px;
        color: #000;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 20px;
    }
    
    .about3head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    
    .about3body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 120px;
        overflow: hidden;
        width: 100%; /* The grid takes the full width of its container */
    }
    
    
    .about3div1w {
        width: 80%;
        height: 502px;
        border-radius: 20px;
        display: block;
        background-color: #fff;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
        position: relative;
    }
    
    .about3img {
        margin-top: 10px;
        width: 95%;
        height: 60%;
        object-fit: cover;
        height: 223.103px;
        border-radius: 20px;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
    }
    
    .div2radio {
        width: 60.3px;
        height: 60.3px;
        background-color: #00AA14;
        display: block;
        position: absolute;
        stroke-width: 4px;
        stroke: #FFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
        z-index: 11;
        top: 40%;
        left: 10%;
        border: 5px solid #fff;
    }
    
    .aboutbodytext {
        padding: 20px;
        text-align: start;
    }
    
    .about2h3 {
        color: #0D222F;
        font-family: Mont , arial , sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-top: 15px
    }
    
    .about3p3 {
        width: 90%;
        height: 135px;
        color: #000;
        font-family: Poppins , arial , sans-serif;
        font-size: 8px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    .about3btn{
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
    }
    .about1icon1{
        fill: white;
        width: 25px;
        height: 25px;
    }
}
/* Tablets (481px to 768px) */
/* Mobile Devices (up to 480px) */
@media (max-width: 480px) {
    .about3bg {
        width: 100%;
        height: 1472.159px;

        background-image: url('../images/about1mblbg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about3h1 {
        color: #28156D;
        text-align: center;
        font-family: "Brush Script MT";
        font-size: 35px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 20%;
    }
    
    .about3h2 {
        margin-top: 30px;
        color: #000;
        text-align: center;
        font-family: "Playfair Display , arial , sans-serif";
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .about3p1 {
        width: 80%;
        margin-top: 30px;
        color: #000;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal; /* 214.286% */
    }
    
    .about3p2 {
        width: 80%;
        margin-top: 30px;
        color: #000;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal; /* 214.286% */
    }
    
    .about3head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    
    .about3body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 60px;
        overflow: hidden;
        width: 100%; /* The grid takes the full width of its container */
    }
    
    
    .about3div1w {
        width: 80%;
        height: 502px;
        border-radius: 20px;
        display: block;
        background-color: #fff;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
        position: relative;
    }
    
    .about3img {
        margin-top: 10px;
        width: 95%;
        height: 60%;
        object-fit: cover;
        height: 223.103px;
        border-radius: 20px;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.13);
    }
    
    .div2radio {
        width: 60.3px;
        height: 60.3px;
        background-color: #00AA14;
        display: block;
        position: absolute;
        stroke-width: 4px;
        stroke: #FFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
        z-index: 11;
        top: 40%;
        left: 10%;
        border: 5px solid #fff;
    }
    
    .aboutbodytext {
        padding: 20px;
        text-align: start;
    }
    
    .about2h3 {
        color: #0D222F;
        font-family: Mont , arial , sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
        margin-top: 15px
    }
    
    .about3p3 {
        width: 90%;
        height: 135px;
        color: #000;
        font-family: Poppins , arial , sans-serif;
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    .about3btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
    }
    .about1icon1{
        fill: white;
        width: 25px;
        height: 25px;
    }
}
