.png-logoseacc {
    width: 10.4px;
    height: 75.24px;
    border-radius: '4px 0px 0px 4px';
    display: 'flex';
    align-self: 'start';
    justify-content: 'start';
}
.ic{
    width: 30px;
}

.MuiBox-root.css-0 {
    margin-top: 80px;
}
.div1bgcolor{
    background-color: #fff;
}
.right {
    width: 772.888px;
    height: 479.03px;
    /* 479.03px - 20% */
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    fill: #FFF;
    stroke: #D4D1CD;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    /* 200px - 20% */
}

.logo-icon-1 {
    margin-bottom: 10px;
    width: 50.2448px;
    /* 62.806px - 20% */
    height: 50.2448px;
    /* 62.806px - 20% */
    align-self: flex-start;
    display: flex;
    fill: #FFF;
    margin-left: 20px;
}

.h3ofdiv {
    color: #000;
    font-family: "Playfair Display";
    font-size: 27.2px;
    /* 34px - 20% */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    text-align: start;
    margin-bottom: 40px;
    /* 50px - 20% */
}

.p3 {
    width: 268.3016px;
    /* 335.377px - 20% */
    height: 104px;
    /* 130px - 20% */
    flex-shrink: 0;
    color: #000;
    text-align: start;
    font-family: Poppins;
    font-size: 12.8px;
    /* 16px - 20% */
    font-style: normal;
    font-weight: 300;
    line-height: 27.2px;
    /* 34px - 20% */
    margin-left: 20px;
}

.btn3 {
    width: auto;
    color: #00A539;
    font-family: Satoshi;
    font-size: 11.9872px;
    /* 14.984px - 20% */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.3976px;
    /* 2.997px - 20% */
    text-transform: uppercase;
    margin-top: 32px;
    /* 40px - 20% */
    margin-left: 20px;
    display: flex;
    margin-bottom: 24px;
    /* 30px - 20% */
    align-self: flex-start;
    cursor: pointer;
}

.doc {
    width: 248.2608px;
    /* 310.326px - 20% */
    height: 343.096px;
    /* 428.87px - 20% */
    border: none;
    border-radius: 10px;
    background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
}

.MuiBox-root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.css-1qm1lh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.css-19kzrtu {
    padding: 0px;
}

.MuiBox-root.css-19kzrtu {
    padding: 0%;
}

#tab-0 {
    padding: 0%;
}

#tab-1 {
    padding: 0%;
}

#tab-2 {
    padding: 0%;
}

#tab-3 {
    padding: 0%;
}

* {
    box-sizing: border-box;
}

.left {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.btnofselectofsec2 {
    width: 430.776px;
    height: 75.24px;
    flex-shrink: 0;
    /* 75.24px - 20% */
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-left: 0px;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    cursor: pointer;
}

.btn-simple {
    width: 430.776px;
    height: 75.24px;
    flex-shrink: 0;
    /* 75.24px - 20% */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-left: 0px;
    background-color: transparent;
    cursor: pointer;
}

.btn-icon {
    margin-right: -8px;
    /* -10px - 20% */
}

.btn-textofdiv1file {
    color: #000;
    font-family: Poppins;
    font-size: 14.4px;
    /* 18px - 20% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* 130px - 20% */
}
.btn-text-active{
    color: #000;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-left: 15px;

}
.btn-text-inactive{
    color: #000;
    font-family: "Playfair Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

margin-left: 15px;
}

.btn-arrow {
    margin-right: 32px;
    /* 40px - 20% */
}

.btn:hover {
    background-color: #f0f0f0;
}

.png-logoseacc {
    width: 8.32px;
    height: 48.64px;
}


/* Laptops/Desktops (1025px to 1440px) */
@media (min-width: 1209px) and (max-width: 5500px) {
    .ic{
        width: 25px;
    }
    .png-logoseacc {
        width: 15.4px;
        height: 75.24px;
        border-radius: '4px 0px 0px 4px';
        display: 'flex';
        align-self: 'start';
        justify-content: 'start';
    }

    .right {
        width: 772.89px;
        /* 772.888px - 20% */
        height: 479.03px;
        /* 479.03px - 20% */
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        fill: #FFF;
        stroke: #D4D1CD;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .dd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        /* 200px - 20% */
    }

    .logo-icon-1 {
        margin-bottom: 10px;
        width: 50.2448px;
        /* 62.806px - 20% */
        height: 50.2448px;
        /* 62.806px - 20% */
        align-self: flex-start;
        display: flex;
        fill: #FFF;
        margin-left: 20px;
    }

    .h3ofdiv {
        color: #000;
        font-family: "Playfair Display";
        font-size: 27.2px;
        /* 34px - 20% */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 20px;
        text-align: start;
        margin-bottom: 40px;
        /* 50px - 20% */
    }

    .p3 {
        width: 268.3016px;
        /* 335.377px - 20% */
        height: 104px;
        /* 130px - 20% */
        flex-shrink: 0;
        color: #000;
        text-align: start;
        font-family: Poppins;
        font-size: 12.8px;
        /* 16px - 20% */
        font-style: normal;
        font-weight: 300;
        line-height: 27.2px;
        /* 34px - 20% */
        margin-left: 20px;
    }

    .btn3 {
        width: auto;
        color: #00A539;
        font-family: Satoshi;
        font-size: 11.9872px;
        /* 14.984px - 20% */
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 2.3976px;
        /* 2.997px - 20% */
        text-transform: uppercase;
        margin-top: 32px;
        /* 40px - 20% */
        margin-left: 20px;
        display: flex;
        margin-bottom: 24px;
        /* 30px - 20% */
        align-self: flex-start;
        cursor: pointer;
    }

    .doc {
        width: 248.2608px;
        /* 310.326px - 20% */
        height: 343.096px;
        /* 428.87px - 20% */
        border: none;
        border-radius: 10px;
        background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
    }

    .MuiBox-root {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        top: 20px;
    }

    .css-1qm1lh {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .css-19kzrtu {
        padding: 0px;
    }

    .MuiBox-root.css-19kzrtu {
        padding: 0%;
    }

    #tab-0 {
        margin-top: 10px;
        padding: 0%;
    }

    #tab-1 {
        padding: 0%;
    }

    #tab-2 {
        padding: 0%;
    }

    #tab-3 {
        padding: 0%;
    }

    * {
        box-sizing: border-box;
    }

    .left {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btnofselectofsec2 {
        width: 430.78px;
        /* 430.776px - 20% */
        height: 75.24px;
        /* 75.24px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-left: 0px;
        border-radius: 5px 0px 0px 5px;
        background-color: #fff;
        cursor: pointer;

    }

    .btn-simple {
        width: 430.78px;
        /* 430.776px - 20% */
        height: 75.24px;
        /* 75.24px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 0px;
        background-color: transparent;
        cursor: pointer;

    }

    .btn-icon {
        margin-right: -8px;
        /* -10px - 20% */
    }

    .btn-textofdiv1file {
        color: #000;
        font-family: Poppins;
        font-size: 14.4px;
        /* 18px - 20% */
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        right: 100%;
        /* 130px - 20% */
    }

    .btn-arrow {
        margin-right: 32px;
        /* 40px - 20% */
    }

    .btn:hover {
        background-color: #f0f0f0;
    }

    .png-logoseacc {
        width: 8.32px;
        height: 48.64px;
    }

    .btn-text-active{
        color: #000;
        font-family: "Playfair Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 15px;
        text-align: start;
        position: absolute;
        margin-left: 20px;
    
    }
    .btn-text-inactive{
        color: #000;
        font-family: "Playfair Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-left: 20px;
    }

}
@media screen and (max-width: 1208px) {
    .MuiBox-root {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 20px;
    }
    .ic{
        width: 25px;
    }
    .png-logoseacc {
        width: 15.4px;
        height: 75.24px;
        border-radius: '4px 0px 0px 4px';
        display: 'flex';
        align-self: 'start';
        justify-content: 'start';
    }

    .right {
        width: 772.89px;
        /* 772.888px - 20% */
        height: 479.03px;
        /* 479.03px - 20% */
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        fill: #FFF;
        stroke: #D4D1CD;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .dd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        /* 200px - 20% */
    }

    .logo-icon-1 {
        margin-bottom: 10px;
        width: 50.2448px;
        /* 62.806px - 20% */
        height: 50.2448px;
        /* 62.806px - 20% */
        align-self: flex-start;
        display: flex;
        fill: #FFF;
        margin-left: 20px;
    }

    .h3ofdiv {
        color: #000;
        font-family: "Playfair Display";
        font-size: 27.2px;
        /* 34px - 20% */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 20px;
        text-align: start;
        margin-bottom: 40px;
        /* 50px - 20% */
    }

    .p3 {
        width: 268.3016px;
        /* 335.377px - 20% */
        height: 104px;
        /* 130px - 20% */
        flex-shrink: 0;
        color: #000;
        text-align: start;
        font-family: Poppins;
        font-size: 12.8px;
        /* 16px - 20% */
        font-style: normal;
        font-weight: 300;
        line-height: 27.2px;
        /* 34px - 20% */
        margin-left: 20px;
    }

    .btn3 {
        width: auto;
        color: #00A539;
        font-family: Satoshi;
        font-size: 11.9872px;
        /* 14.984px - 20% */
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 2.3976px;
        /* 2.997px - 20% */
        text-transform: uppercase;
        margin-top: 32px;
        /* 40px - 20% */
        margin-left: 20px;
        display: flex;
        margin-bottom: 24px;
        /* 30px - 20% */
        align-self: flex-start;
        cursor: pointer;
    }

    .doc {
        width: 248.2608px;
        /* 310.326px - 20% */
        height: 343.096px;
        /* 428.87px - 20% */
        border: none;
        border-radius: 10px;
        background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
    }

    .css-1qm1lh {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .css-19kzrtu {
        padding: 0px;
    }

    .MuiBox-root.css-19kzrtu {
        padding: 0%;
    }

    #tab-0 {
        margin-top: 10px;
        padding: 0%;
    }

    #tab-1 {
        padding: 0%;
    }

    #tab-2 {
        padding: 0%;
    }

    #tab-3 {
        padding: 0%;
    }

    * {
        box-sizing: border-box;
    }

    .left {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btnofselectofsec2 {
        width: 430.78px;
        /* 430.776px - 20% */
        height: 75.24px;
        /* 75.24px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-left: 0px;
        border-radius: 5px 0px 0px 5px;
        background-color: #fff;
        cursor: pointer;

    }

    .btn-simple {
        width: 430.78px;
        /* 430.776px - 20% */
        height: 75.24px;
        /* 75.24px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 0px;
        background-color: transparent;
        cursor: pointer;

    }

    .btn-icon {
        margin-right: -8px;
        /* -10px - 20% */
    }

    .btn-textofdiv1file {
        color: #000;
        font-family: Poppins;
        font-size: 14.4px;
        /* 18px - 20% */
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        right: 100%;
        /* 130px - 20% */
    }

    .btn-arrow {
        margin-right: 32px;
        /* 40px - 20% */
    }

    .btn:hover {
        background-color: #f0f0f0;
    }

    .png-logoseacc {
        width: 8.32px;
        height: 48.64px;
    }

    .btn-text-active{
        color: #000;
        font-family: "Playfair Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 15px;
        text-align: start;
        position: absolute;
        margin-left: 20px;
    
    }
    .btn-text-inactive{
        color: #000;
        font-family: "Playfair Display";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: start;
        margin-left: 20px;
    }

}


/* Small Laptops (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .ic{
        width: 20px;
    }
    .png-logoseacc {
        width: 7.28px;
        /* 10.4px - 30% */
        height: 42.56px;
        /* 60.8px - 30% */
        border-radius: 2.8px 0px 0px 2.8px;
        display: flex;
        align-self: start;
        justify-content: start;
    }

    .right {
        width: 432.8173px;
        /* 618.3104px - 30% */
        height: 268.2568px;
        /* 383.224px - 30% */
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        fill: #FFF;
        stroke: #D4D1CD;
        border-radius: 7px;
        /* 10px - 30% */
        border: 0.7px solid #ccc;
        /* Reduced border */
    }

    .dd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 112px;
        /* 160px - 30% */
    }

    .logo-icon-1 {
        margin-bottom: 7px;
        /* 10px - 30% */
        width: 35.1714px;
        /* 50.2448px - 30% */
        height: 35.1714px;
        /* 50.2448px - 30% */
        align-self: flex-start;
        display: flex;
        fill: #FFF;
        margin-left: 14px;
        /* 20px - 30% */
    }

    .h3ofdiv {
        color: #000;
        font-family: "Playfair Display";
        font-size: 19.04px;
        /* 27.2px - 30% */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 14px;
        /* 20px - 30% */
        text-align: start;
        margin-bottom: 28px;
        /* 40px - 30% */
    }

    .p3 {
        width: 187.8111px;
        /* 268.3016px - 30% */
        height: 72.8px;
        /* 104px - 30% */
        flex-shrink: 0;
        color: #000;
        text-align: start;
        font-family: Poppins;
        font-size: 8.96px;
        /* 12.8px - 30% */
        font-style: normal;
        font-weight: 300;
        line-height: 19.04px;
        /* 27.2px - 30% */
        margin-left: 14px;
        /* 20px - 30% */
    }

    .btn3 {
        width: auto;
        color: #00A539;
        font-family: Satoshi;
        font-size: 8.39px;
        /* 11.9872px - 30% */
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.68px;
        /* 2.3976px - 30% */
        text-transform: uppercase;
        margin-top: 22.4px;
        /* 32px - 30% */
        margin-left: 14px;
        /* 20px - 30% */
        display: flex;
        margin-bottom: 16.8px;
        /* 24px - 30% */
        align-self: flex-start;
        cursor: pointer;
    }

    .doc {
        width: 173.7826px;
        /* 248.2608px - 30% */
        height: 240.1672px;
        /* 343.096px - 30% */
        border: none;
        border-radius: 7px;
        /* 10px - 30% */
        background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
    }

    .MuiBox-root, .css-1gm1lh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }

    .btnofselectofsec2 {
        width: 241.2346px;
        /* 344.6208px - 30% */
        height: 42.1344px;
        /* 60.192px - 30% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.7px solid #ccc;
        /* 1px - 30% */
        border-left: 0px;
        border-radius: 3.5px 0px 0px 3.5px;
        /* 5px - 30% */
        background-color: #fff;
        cursor: pointer;
    }

    .btn-simple {
        width: 241.2346px;
        /* 344.6208px - 30% */
        height: 42.1344px;
        /* 60.192px - 30% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 0px;
        background-color: transparent;
        cursor: pointer;
    }

    .btn-icon {
        margin-right: -5.6px;
        /* -8px - 30% */
    }

    .btn-textofdiv1file {
        color: #000;
        font-family: Poppins;
        font-size: 10.08px;
        /* 14.4px - 30% */
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        right: 100%;
        /* 104px - 30% */
    }

    .btn-arrow {
        margin-right: 22.4px;
        /* 32px - 30% */
    }

    .btn:hover {
        background-color: #f0f0f0;
    }
    .svg2img{
        margin-top: 3px; 
        width: 20px;
    }
    .btn-text-active{
        color: #000;
        font-family: Poppins;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin-left: 10px;
    
    }
    .btn-text-inactive{
        color: #000;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    }
}

/* Tablets (481px to 768px) */
@media (min-width: 600px) and (max-width: 768px) {
    .ic{
        width: 15px;
    }
    .png-logoseacc {
        width: 5.2px;
        /* 10.4px - 50% */
        height: 30.4px;
        /* 60.8px - 50% */
        border-radius: 2px 0px 0px 2px;
        display: flex;
        align-self: start;
        justify-content: start;
    }

    .right {
        width: 309.1552px;
        /* 618.3104px - 50% */
        height: 191.612px;
        /* 383.224px - 50% */
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        fill: #FFF;
        stroke: #D4D1CD;
        border-radius: 5px;
        /* 10px - 50% */
        border: 0.5px solid #ccc;
        /* Reduced border */
    }

    .dd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        /* 160px - 50% */
    }

    .logo-icon-1 {
        margin-bottom: 5px;
        /* 10px - 50% */
        width: 25.1224px;
        /* 50.2448px - 50% */
        height: 25.1224px;
        /* 50.2448px - 50% */
        align-self: flex-start;
        display: flex;
        fill: #FFF;
        margin-left: 10px;
        /* 20px - 50% */
    }

    .h3ofdiv {
        color: #000;
        font-family: "Playfair Display";
        font-size: 13.6px;
        /* 27.2px - 50% */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 10px;
        /* 20px - 50% */
        text-align: start;
        margin-bottom: 20px;
        /* 40px - 50% */
    }

    .p3 {
        width: 134.1508px;
        /* 268.3016px - 50% */
        height: 52px;
        /* 104px - 50% */
        flex-shrink: 0;
        color: #000;
        text-align: start;
        font-family: Poppins;
        font-size: 6.4px;
        /* 12.8px - 50% */
        font-style: normal;
        font-weight: 300;
        line-height: 13.6px;
        /* 27.2px - 50% */
        margin-left: 10px;
        /* 20px - 50% */
    }

    .btn3 {
        width: auto;
        color: #00A539;
        font-family: Satoshi;
        font-size: 5.99px;
        /* 11.9872px - 50% */
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.2px;
        /* 2.3976px - 50% */
        text-transform: uppercase;
        margin-top: 16px;
        /* 32px - 50% */
        margin-left: 10px;
        /* 20px - 50% */
        display: flex;
        margin-bottom: 12px;
        /* 24px - 50% */
        align-self: flex-start;
        cursor: pointer;
    }

    .doc {
        width: 124.1304px;
        /* 248.2608px - 50% */
        height: 171.548px;
        /* 343.096px - 50% */
        border: none;
        border-radius: 5px;
        /* 10px - 50% */
        background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
    }

    .MuiBox-root,
    .css-1gm1lh {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }

    .btnofselectofsec2 {
        width: 250px;
        /* 344.6208px - 50% */
        height: 30.096px;
        /* 60.192px - 50% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.5px solid #ccc;
        /* 1px - 50% */
        border-left: 0px;
        border-radius: 2.5px 0px 0px 2.5px;
        /* 5px - 50% */
        background-color: #fff;
        cursor: pointer;
    }

    .btn-simple {
        width: 250px;
        /* 344.6208px - 50% */
        height: 30.096px;
        /* 60.192px - 50% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 0px;
        background-color: transparent;
        cursor: pointer;
    }

    .btn-icon {
        margin-right: -4px;
        /* -8px - 50% */
    }

    .btn-textofdiv1file {
        color: #000;
        font-family: Poppins;
        font-size: 7.2px;
        /* 14.4px - 50% */
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        right: 100%;
        /* 104px - 50% */
    }

    .btn-arrow {
        margin-right: 16px;
        /* 32px - 50% */
    }

    .btn:hover {
        background-color: #f0f0f0;
    }
    .svg2img{
        margin-top: 3px; 
        width: 15px;
    }
    .btn-text-active{
        color: #000;
        font-family: Poppins;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin-left: 10px;
    
    }
    .btn-text-inactive{
        color: #000;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    }


}

/* Mobile Devices (up to 480px) */
@media (max-width: 600px) {
    .ic{
        width: 22px;
    }
    .png-logoseacc {
        width: 4.16px;
        /* 5.2px - 20% */
        height: 24.32px;
        /* 30.4px - 20% */
        border-radius: 2px 0px 0px 2px;
        display: flex;
        align-self: start;
        justify-content: start;
        display: none;
    }

    .right {
        width: 300px;
        /* 309.1552px - 20% */
        height: 153.2896px;
        /* 191.612px - 20% */
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        fill: #FFF;
        stroke: #D4D1CD;
        border-radius: 5px;
        /* No change */
        border: 0.4px solid #ccc;
        /* Reduced border */
    }
    .MuiBox-root.css-0 {
        margin-top: 30px;
    }
    .dd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 64px;
        /* 80px - 20% */
    }

    .logo-icon-1 {
        margin-bottom: 4px;
        /* 5px - 20% */
        width: 20.098px;
        /* 25.1224px - 20% */
        height: 20.098px;
        /* 25.1224px - 20% */
        align-self: flex-start;
        display: flex;
        fill: #FFF;
        margin-left: 8px;
        /* 10px - 20% */
    }

    .h3ofdiv {
        color: #000;
        font-family: "Playfair Display";
        font-size: 10.88px;
        /* 13.6px - 20% */
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 8px;
        /* 10px - 20% */
        text-align: start;
        margin-bottom: 16px;
        /* 20px - 20% */
    }

    .p3 {
        width: 107.32064px;
        /* 134.1508px - 20% */
        height: 41.6px;
        /* 52px - 20% */
        flex-shrink: 0;
        color: #000;
        text-align: start;
        font-family: Poppins;
        font-size: 5.12px;
        /* 6.4px - 20% */
        font-style: normal;
        font-weight: 300;
        line-height: 10.88px;
        /* 13.6px - 20% */
        margin-left: 8px;
        /* 10px - 20% */
    }

    .btn3 {
        width: auto;
        color: #00A539;
        font-family: Satoshi;
        font-size: 4.792px;
        /* 5.99px - 20% */
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.96px;
        /* 1.2px - 20% */
        text-transform: uppercase;
        margin-top: 12.8px;
        /* 16px - 20% */
        margin-left: 8px;
        /* 10px - 20% */
        display: flex;
        margin-bottom: 9.6px;
        /* 12px - 20% */
        align-self: flex-start;
        cursor: pointer;
    }

    .doc {
        width: 99.30432px;
        /* 124.1304px - 20% */
        height: 137.2384px;
        /* 171.548px - 20% */
        border: none;
        border-radius: 5px;
        /* No change */
        background: url('../images/doctor.png') lightgray 40% / cover no-repeat;
    }

    .MuiBox-root,
    .css-1gm1lh {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
    }

    .btnofselectofsec2 {
        width: 398.78px;
        height: 75px;
        /* 30.096px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        border: 0.4px solid #ccc;
        /* No change */
        border-left: 0px;
        border-radius: 6px;
        /* 2.5px - 20% */
        background-color: #fff;
        cursor: pointer;
        padding: 8px;
    }

    .btn-simple {
        width: 230px;
        /* 172.3104px - 20% */
        height: 24.0768px;
        /* 30.096px - 20% */
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-left: 0px;
        background-color: transparent;
        cursor: pointer;
        position: relative;

    }

    .btn-icon {
        margin-right: -3.2px;
        /* -4px - 20% */
    }

    .btn-arrow {
        margin-right: 12.8px;
        /* 16px - 20% */
    }

    .btn:hover {
        background-color: #f0f0f0;
        /* No change */
    }
    .svg2img{
        margin-top: 3px; 
        width: 13px;
    }
    .btn-text-active{
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        margin-left: 10px;
    
    }
    .btn-text-inactive{
        color: #000;
    font-family: Poppins;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    }

}