*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
.phar4bg{
    width: 100%;
    max-width: 1600px;
height: 600.625px;
display: flex;
justify-content: center;
align-items: center;

}

.pharcont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.phar4h1{
    margin-top: 10px;
    color: #0D222F;
text-align: center;
font-family: Mont;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.phar4h2{
    margin-top: 10px;
    width: 261.849px;
height: 56px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 200% */
}
.gird4mainimg{
    width: 196px;
height: 100%;
object-fit: cover;
}
/* Laptops/Desktops (1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    *{
        padding: 0;
        margin: 0%;
        box-sizing: border-box;
    }
    .phar4bg{
        width: 100%;
        max-width: 1600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    
    .pharcont{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .phar4h1{
        margin-top: 10px;
        color: #0D222F;
    text-align: center;
    font-family: Mont;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .phar4h2{
        margin-top: 10px;
        width: 200px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 200% */
    }
    .gird4mainimg{
        width: 86px;
    height: 100%;
    object-fit: cover;
    }
    .phar4img{
        width: 20px;
        height: auto;
    }
}

/* Small Laptops (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0%;
        box-sizing: border-box;
    }
    .phar4bg{
        width: 100%;
        max-width: 1600px;
    height: 1500.625px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    
    .pharcont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .phar4h1{
        margin-top: 10px;
        color: #0D222F;
    text-align: center;
    font-family: Mont;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .phar4h2{
        margin-top: 10px;
        width: 261.849px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 200% */
    }
    .gird4mainimg{
        width: 196px;
    height: 100%;
    object-fit: cover;
    }
}

/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0%;
        box-sizing: border-box;
    }
    .phar4bg{
        width: 100%;
        max-width: 1600px;
    height: 1500.625px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    
    .pharcont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .phar4h1{
        margin-top: 10px;
        color: #0D222F;
    text-align: center;
    font-family: Mont;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .phar4h2{
        margin-top: 10px;
        width: 261.849px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 200% */
    }
    .gird4mainimg{
        width: 196px;
    height: 100%;
    object-fit: cover;
    }
}
/* Mobile Devices (up to 480px) */
@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0%;
        box-sizing: border-box;
    }
    .phar4bg{
        width: 100%;
        max-width: 1600px;
    height: 1500.625px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    
    .pharcont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .phar4h1{
        margin-top: 10px;
        color: #0D222F;
    text-align: center;
    font-family: Mont;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .phar4h2{
        margin-top: 10px;
        width: 261.849px;
    height: 56px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 200% */
    }
    .gird4mainimg{
        width: 196px;
    height: 100%;
    object-fit: cover;
    }
    
}