/* Container for the entire news section */
.news-section {
    padding: 40px 80px;
    text-align: center;
}
.news-item{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
justify-content: center;
}

@media (max-width: 768px) {
    .news-section {
        padding: 20px 40px; /* Reduce padding on smaller screens */
        display: flex;
        flex-direction: column;
    }
    .news-heading, .news-subheading {
        font-size: 18px; /* Reduce font sizes on smaller screens */
    }
    .news-cards-container {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-direction: column;
    }
    .news-item{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
      justify-content: center;
      }
      
 
}

/* Main heading of the news section */
.news-heading {
    font-size: 45px;
    font-weight: 400;
    color: #28156D;
    margin-bottom: 10px;
    font-family: "Brush Script MT", cursive;
}

/* Subheading */
.news-subheading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
}



/* Cards container */
.news-cards-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

@media (max-width: 980px) {
    .news-cards-container {
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
    }
    .news-item{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
      justify-content: center;
      }
      .news-image {
        height: 200px; /* Reduce image height for smaller screens */
    }
    .news-date {
        display: flex;
        position: relative;
        top: 27%;
        width: 100px;
        /* margin-left: -16%; */
        height: fit-content;
        /* transform: inherit; */
        /* padding: 8px 12px; */
        background-color: #28156D;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border-radius: 10px;
        z-index: 1;
    }
    .news-description {
        font-size: 14px; /* Reduce font size */
    }
    .read-more-link {
        font-size: 12px; /* Reduce font size */
    }
}

@media (max-width: 480px) {
    .news-cards-container {
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
    }
    .news-item{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
      justify-content: center;
      }
      .news-image {
        height: 200px; /* Reduce image height for smaller screens */
    }
    .news-date {
        display: flex;
        position: relative;
        top: 27%;
        width: 100px;
        /* margin-left: -16%; */
        height: fit-content;
        transform: inherit;
        /* padding: 8px 12px; */
        background-color: #28156D;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        border-radius: 10px;
        z-index: 1;
    }
    .ibrtitle1 {
        color: #28156D;
        text-align: center;
        font-family: "Brush Script MT";
        font-size: 34px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }
      
      
      .subtitle {
        color: #000;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    .news-description {
        font-size: 14px; /* Reduce font size */
    }
    .read-more-link {
        font-size: 12px; /* Reduce font size */
    }
}

/* Individual news card */
.news-card {
    width: 100%;
    max-width: 363px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    position: relative;
}

/* News image container */
.news-image {
    width: 100%;
    height: 262px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}



/* Date button styling */
.news-date {
    display: flex;
    position: relative;
    top: 27%;
    width: 100px;
    margin-left: -16%;
    transform: rotate(90deg);
    padding: 8px 12px;
    background-color: #28156D;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    z-index: 1;
}



/* Title of the article */
.news-title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #181818;
    font-family: 'Playfair Display';
    position: relative;
    margin-top: 10px;
}
.news-hr{
    margin-top: 14px;
    margin-bottom: 14px;
}

/* .news-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    bottom: 0;
    left: 0;
} */

/* Description text */
.news-description {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}



/* Read more link */
.read-more-link {
    font-size: 14px;
    color: #28156D;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    font-family: 'poppins';
    padding-right: 35px;

}

.read-more-link::after {
    content: '→';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #28156D;
    transition: color 0.3s;
}

.read-more-link:hover::after {
    color: #0056b3; 
}
