/* Container styling */
.prag-Phsection3 {
    background-image: url('../images/phsection3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /* Changed to make it responsive */
    height: 904.55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
}

/* Image Section */
.prag-image-section3 {
    display: flex;
    flex-direction: column;
}

.prag-image-item13 {
    width: 491.16px;
    height: 356.15px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 40%;
}
.prag-image-item23 {
    width: 491.16px;
    height: 315.4px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 160px;
    bottom: 108.1px;
}

/* Text Section */
.prag-text-section3 {
    width: 597.7px;
    height: 299.53px;
    margin-top: 200px;
}

.prag-brand-name3 {
    font-family: "Brush Script MT";
    font-size: 55px;
    color: #3a0070;
    width: 145px;
    position: absolute;
    font-weight: 400;
    left: 960px;
    top: 340px;
}

.prag-section-title3 {
    font-family: "Playfair Display";
    font-size: 55px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: start;
}

.prag-section-description3 {
    font-family: "Poppins";
    text-align: start;
    font-size: 18px;
    color: #000000;
    line-height: 1.7;
}
