/* Header section */
.header-section {
    text-align: center;
    /* position: relative; */
    /* margin-bottom: 0; */
    border: none; /* Remove any borders */
    box-shadow: none; /* Ensure no shadow */
}
.pharmaciesbgmaintop{
    background-image: url('../images/Otherpagetopbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1606px;
    height: 904.55px;
    position: relative;
    top: -254px;
    left: -3px;
    z-index: -2;
    
}
.brand-name {
    font-family: 'Cursive', sans-serif;
    font-size: 60px;
    color: #28156D;
    font-weight: 400px;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 250px;
    left: 700px;
    z-index: 1;
}
.page-title{
    position: relative;
    top: 300px;
    font-size: 60px;
}