.pharmaciessecondsec4 {
    background-image: url('../images/phsection4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /* Changed to make it responsive */
    max-width: 1600px;
    height: 937.62px;
    position: relative;
}

.distribution-section {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between text and images */
}
.distribution-sectionchng {
    display: flex; /* Use flexbox for layout */
    justify-content: center;
}

.text-contenph {
    max-width: 600px; /* Set max width for text content */
    height: 600px;
}

.brand-name-small {
    font-family: "Brush Script MT";
    font-size: 55px;
    color: #28156D;
    font-weight: 400;
    text-align: start;
}

.section-title {
    width: 597.699px;
    color: #000;
    font-family: "Playfair Display";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 73.32px;
    text-align: start;
    margin-bottom: 60px;
}

.section-description {
    width: 597.699px;
    height: 299.529px;
    font-size: 18px;
    color: #000000;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: start;
    font-family: 'Poppins';
    font-weight: 400;

}
.image-content{
    height: 600px;
}

.main-image {
    width: 558.9px;
    height: 558.9px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Space between text and image */
}

.small-image {
    width: 260.385px;
    height: 240.385px;
    object-fit: cover;
    border-radius: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute; 
    bottom: 20%; /* Adjust to align with the center of the main image */
    left: 61%; /* Adjust to position it in front of the main image */
    transform: translate(-50%, -50%); /* Center the small image over the main image */
    z-index: 1; /* Ensure it appears above the main image */
}
.phcenter{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 600px;
}
