/* Container styling */
.phsection5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
    /* background-image: url('../images/formbg.png'); */
    background-size: cover;
    height: 937px;
    
    z-index: 99;
    background-repeat: no-repeat;
}

/* Image Section */
.image-section5 {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.image-item-wrap {
    position: relative;
}

.image-item-main {
    width: 528.01px;
    height: 566.15;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 229.69px;
}

.image-item-sub1 {
    width: 260.39;
    height: 240.39;
    position: absolute;
    top: 130px;
    left: -280px;
}

.image-item-sub2 {
    width: 260.39;
    height: 240.39;
    margin-left: -810px;
    z-index: -3;
}

/* Text Section */
.text-section5 {
    width: 40%;
    padding-left: 50px;
    text-align: start;
}

.brand-name5 {
    font-family: 'Cursive', sans-serif;
    font-size: 2rem;
    color: #3a0070;
    margin-bottom: 10px;
}

.section-title5 {
    font-family: 'Serif', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.section-description5 {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}
