.section8bg{
    background-image: url('../images/sec3bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.firstdivofSection8{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);

}
.firstSubdivofSection8 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;     /* Aligns items to the left */
    justify-content: left;
}

.oneTextFieldsection8 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.h5ofsection8{
    text-align: start;
}
.h1ofsection8medask{
    color: #28156D;
}
.divh1ofsection8{
    margin: 30px 0;
}