*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
.vidtext{
    margin-top: 20px;
    width: 849.613px;
height: 143.796px;
flex-shrink: 0;
color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.vidtitle{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 5px;
}
.divcen{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }
    .vidtext{
        margin-top: 15px;
        width: 749.613px;
    height: 143.796px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    }
    .vidtitle{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-right: 5px;
    }
    .divcen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* Small Laptops (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }
    .vidtext{
        margin-top: 15px;
        width: 550px;
    height: 143.796px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    }
    .vidtitle{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-right: 5px;
    }
    .divcen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* Tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }
    .vidtext{
        margin-top: 15px;
        width: 350px;
    height: 143.796px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    }
    .vidtitle{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-right: 5px;
    }
    .divcen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0px;
        box-sizing: border-box;
    }
    .vidtext{
        margin-top: 15px;
        width: 300px;
    height: 143.796px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    }
    .vidtitle{
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 9px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-right: 5px;
    }
    .divcen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}